flows-ESP32.json
[
    {
        "id": "3f816e75c0db35ca",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "30a34af22242ebad",
        "type": "ui_button",
        "z": "3f816e75c0db35ca",
        "name": "",
        "group": "d21b90e9c061a6ee",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "0%",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 100,
        "wires": [
            [
                "4038d4a559595151"
            ]
        ]
    },
    {
        "id": "714e549291d5c767",
        "type": "ui_button",
        "z": "3f816e75c0db35ca",
        "name": "",
        "group": "d21b90e9c061a6ee",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "50%",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "50",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 200,
        "wires": [
            [
                "4038d4a559595151"
            ]
        ]
    },
    {
        "id": "27ce479c5761f690",
        "type": "ui_button",
        "z": "3f816e75c0db35ca",
        "name": "",
        "group": "d21b90e9c061a6ee",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "100%",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "100",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 280,
        "wires": [
            [
                "4038d4a559595151"
            ]
        ]
    },
    {
        "id": "8fc881a338737b98",
        "type": "ui_slider",
        "z": "3f816e75c0db35ca",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "d21b90e9c061a6ee",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 310,
        "y": 360,
        "wires": [
            [
                "4038d4a559595151"
            ]
        ]
    },
    {
        "id": "2a78cb6cdb70255c",
        "type": "ui_gauge",
        "z": "3f816e75c0db35ca",
        "name": "",
        "group": "d21b90e9c061a6ee",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 730,
        "y": 160,
        "wires": []
    },
    {
        "id": "4038d4a559595151",
        "type": "function",
        "z": "3f816e75c0db35ca",
        "name": "function 3",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 240,
        "wires": [
            [
                "2a78cb6cdb70255c",
                "aea539fb2fe02798"
            ]
        ]
    },
    {
        "id": "aea539fb2fe02798",
        "type": "mqtt out",
        "z": "3f816e75c0db35ca",
        "name": "",
        "topic": "/system/Servo",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "853dd68423862635",
        "x": 760,
        "y": 320,
        "wires": []
    },
    {
        "id": "25b3c093abecef99",
        "type": "mqtt in",
        "z": "3f816e75c0db35ca",
        "name": "",
        "topic": "/system/hum",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "853dd68423862635",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 480,
        "wires": [
            [
                "c91fdfc18f10289f",
                "4bba07206aa8c186"
            ]
        ]
    },
    {
        "id": "16f19e77ebe2fe81",
        "type": "mqtt in",
        "z": "3f816e75c0db35ca",
        "name": "",
        "topic": "/system/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "853dd68423862635",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 560,
        "wires": [
            [
                "5df45efc1342111c",
                "1a789953e34af302"
            ]
        ]
    },
    {
        "id": "c91fdfc18f10289f",
        "type": "ui_chart",
        "z": "3f816e75c0db35ca",
        "name": "",
        "group": "f06c5a0143acd62e",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 660,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "5df45efc1342111c",
        "type": "ui_chart",
        "z": "3f816e75c0db35ca",
        "name": "",
        "group": "f06c5a0143acd62e",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-40",
        "ymax": "80",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 650,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "4bba07206aa8c186",
        "type": "ui_gauge",
        "z": "3f816e75c0db35ca",
        "name": "",
        "group": "6cbf266e8957818a",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 650,
        "y": 520,
        "wires": []
    },
    {
        "id": "1a789953e34af302",
        "type": "ui_gauge",
        "z": "3f816e75c0db35ca",
        "name": "",
        "group": "6cbf266e8957818a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "-40",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 650,
        "y": 600,
        "wires": []
    },
    {
        "id": "d21b90e9c061a6ee",
        "type": "ui_group",
        "name": "Servo Controller",
        "tab": "4c5ecc1308995d15",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "853dd68423862635",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f06c5a0143acd62e",
        "type": "ui_group",
        "name": "DHT22 Sensor Charts",
        "tab": "4c5ecc1308995d15",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6cbf266e8957818a",
        "type": "ui_group",
        "name": "DHT22 Gauges",
        "tab": "4c5ecc1308995d15",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4c5ecc1308995d15",
        "type": "ui_tab",
        "name": "ESP32 Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]